<nav class="navbar navbar-expand-sm navbar-success bg-success justify-content-between">
    <h3 class="p-0 m-0 navbar-brand just">
        <img src="../../assets/github2.png" alt="github-logo" width="40" height="40"> &nbsp;G-MINE
    </h3>

    <form class="form-inline">
        <input class="form-control" type="text" name="search" placeholder="All of github" id="search" [(ngModel)]="searchTerm">
        <button (click)='getSearchItem()' class="btn btn-light" type="submit">Search</button>
    </form>
</nav>